<div class="board-id">
	<span class="board-id-label">Board ID</span>
	<span class="board-id-text">{{board}}</span>
</div>

<div id="sound-buttons">
	<button type="button" data-sound="nooo" class="btn btn-default">Darth Vader Noooo</button>
	<button type="button" data-sound="monsterkill" class="btn btn-default">M-M-Monster Kill</button>
	<button type="button" data-sound="assbag" class="btn btn-default">Assbag</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/board.js"></script>