<div class="board-id">
	<span class="board-id-label">Board ID</span>
	<span class="board-id-text">{{board}}</span>
</div>

<div id="sound-buttons">
	<button type="button" data-sound="sound1" class="btn btn-default">Sound 1</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/board.js"></script>