<div class="board-id">
	<span class="board-id-label">Board ID</span>
	<span class="board-id-text">{{board}}</span>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/player.js"></script>