<a href="/{{board}}" target="_blank" class="board-id">
	<span class="board-id-label">Board ID</span>
	<span class="board-id-text">{{board}}</span>
</a>

<div class="text-center" style="margin: 50px auto; max-width: 600px">
	<p class="lead">
		This is the <strong>player</strong> tab. Use the board ID at the top to connect to this board from another tab or device in order to play sounds.
	</p>

	<p>You can also click on the board ID to open a soundboard tab.
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/player.js"></script>